@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Poppins:wght@100;300;400;500;700&family=Rajdhani:wght@300;400;700&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #c8c2bc;
  cursor: pointer;
}
a:hover {
  color: #343a40;
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #334756;
  color: white;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}
